<h1>Mes Commandes</h1>
<ul>
    {% if commandes is empty %}
        <li>Aucune commande</li>
    {% else %}
        {% for commande in commandes %}
            <li>
                <h2>Produit ID: {{ commande.id }}</h2>
                Nom: {{ commande.nom }}<br>
                Prix: {{ commande.prix }}<br>
            </li>
        {% endfor %}
    {% endif %}
</ul>
